<template name='addmoment'>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form>

            <div class="moment-q">
              <h2>Pick your object / activity</h2>
              <select name="activities" id="activities">
                <option selected value="...">Please pick an object / activity</option>
                <option value="Baby">Baby</option>
                <option value="Meeting">Meeting</option>
                <option value="Venepuncture">Venepuncture</option>
              </select>
            </div>

            <div class="moment-q">
              <h2>How did you interact with the activity?</h2>
              <select name="verb" id="verb">
                {{#each verbOptions}}
                <option value={{this}}>{{this}}</option>
                {{/each}}
              </select>
            </div>

            <!-- statement viewer -->
            <div id="statement-container">
              <span>I {{verbText}} {{activityText}}</span>
            </div>

            <div class="moment-q">
              <h2>How would you rate your performance in the activity?</h2>
              <div class="rating">
                <span class='iosFix' id='star5'>☆</span><span class='iosFix' id='star4'>☆</span><span class='iosFix' id='star3'>☆</span><span class='iosFix' id='star2'>☆</span><span class='iosFix' id='star1'>☆</span>
              </div>
            </div>

            <!-- need to put the things in between here !-->
            <div class="moment-q" id='emergencyDiv'>
              <h2>Was it an emergency?</h2>
              <div class='checkbox'>
              <label><input type="checkbox" name="emergency" value="yes" id='emergencyCheckBox' data-context="time-pressure"> Emergency</label>
            </div>
            </div>

            <div class="moment-q" id='circumstanceDiv'>
              <h2>What were the circumstances?</h2>
              {{#each circumstanceOptions}}
              <div class='radio'>
                <label><input type="radio" name="{{#if isEmergency}}other{{else}}circumstance{{/if}}" value="{{this}}" data-context='{{#if isEmergency}}other{{else}}circumstance{{/if}}'> {{this}}</label>
              </div>
              {{/each}}
            </div>

            <div class="moment-q" id='locationDiv'>
              <h2>What location did your activity take place?</h2>
              <select name="location" id='location' data-context="location">
                {{#each locationOptions}}
                <option value={{this}}>{{this}}</option>
                {{/each}}
              </select>
            </div>

            <div class="moment-q" id='roleDiv'>
              <h2>Who else was involved in the activity?</h2>
              {{#each roleOptions}}
              <div class='checkbox'>
                <label><input type="checkbox" name="role" value="{{this}}" id='{{this}}' data-context="role">{{this}}</label>
              </div>
              {{/each}}
            </div>

            <div class="moment-q" id='reflection-area'>
              <h2>Reflection - Any extra notes? <span class="optional">(optional)</span></h2>
              <textarea id='reflection' data-context="reflection"></textarea>
            </div>

            <div class="moment-q">
              <a class="big-button" id='submit-lm' href='/'>Save Moment ⇡</a>
            </div>

        </form>
<!-- <p class="lead section-lead"></p>
  <p class="section-paragraph"></p> !-->
</div>
</div>
</div>
</section>

<!-- Fixed Height Image Aside -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy;</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</footer>
</template>
