<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <link rel="icon" href="favicon.ico">

  <title>Learning moments app</title>
  <!-- Notes for Michael -->
  <!-- your css files do not need to be linked into the page, simply have your css files inside the client folder
  and they will automatically be included

  Inside template name="main" put your html code, interface simply needs to look like your Invision app, you can decide
  whether you want to have multiple screens or simply make it a really long scrolling page (really long scrolling
  page probably easier to implment).
  -->
</head>

<body>
  <h1>Learning moments app</h1>
  <!-- inserts template with name 'main' into page -->
  {{> main}}
</body>

<!-- template for http://localhost:3000/ -->
<template name="main">

  <div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-12'>
        <h2>Recent Activities</h2>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12'>

<!--    Temporarily commented out untill functionality implemented
        {{#each recentActivities}}
          <p>{{this.stmt}}</p>
        {{/each}} -->

      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12'>
        <h3>Add a learning moment</h3>

      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'>
      </div>
    </div>
  </div>
  <!-- This is the button that currently submits an xpai statement -->
  <button id='submit' class='btn btn-lg'>Click Me</button>
</template>
