<template name='profile'>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="moment-q">
            <h1>Hey there, {{name}}</h1>
          </div>
          <div class="moment-q">
              <h2>First name</h2>
              <input type='text' id='fnameTextBox' value='{{fname}}'/>
          </div>
          <div class="moment-q">
              <h2>Last name</h2>
              <input type='text' id='lnameTextBox' value='{{lname}}'/>
          </div>
          <div class="moment-q">
              <h2>Email</h2>
              <input type='text' id='emailTextBox' value='{{email}}'/>
          </div>
        </div>
        <div class='col-lg-12'>
          <div class="moment-q">
            <a class="big-button" id="saveInfo">Update Information</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
